<div class="container" *ngIf="game">
  <div class="container-upper">
    <div class="container-board">
      <div class="row" *ngFor="let x of [0,1,2,3,4,5,6]">
        <div class="container-piece" [class.bottom]="x == 6" [class.right]="y == 6" *ngFor="let y of [0,1,2,3,4,5,6]">
          <div *ngIf="hasPiece(x, y) else empty" class="piece" [class.white]="isWhite(x, y)" [class.ball]="hasBall(x, y)"
            [draggable]="isDraggable(x, y)" (dragstart)="onDragStart($event, x, y)" (drop)="onDropPiece($event, x, y)" (dragover)="onDragOver($event)"></div>
          <ng-template #empty>
            <div class="empty" (drop)="onDropEmpty($event, x, y)" draggable="false" (dragover)="onDragOver($event)"></div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="container-side">
      <div class="container-button click orange" (click)="onRetry()">Retry</div>
      <div class="container-circle" [class.green]="game.nbActions >= 1"></div>
      <div class="container-circle" [class.green]="game.nbActions >= 2"></div>
      <div class="container-circle" [class.green]="game.nbActions >= 3"></div>
    </div>
  </div>
  <div class="container-lower">
    <div class="container-button grey">Turn n°{{game.nbTurn}}</div>
    <div class="container-button grey">
      Turn of player : {{game.players[game.indexCurrentPlayer].name}} (
      <div class="circle" [class.white]="game.players[game.indexCurrentPlayer].isWhite"></div> )
    </div>
    <div class="container-button click orange" (click)="onUndo()">Undo</div>
    <div class="container-button click orange" (click)="onRedo()">Redo</div>
    <div class="container-button green" [class.click]="game.nbActions >= 3" (click)="onEndTurn()">End turn</div>
  </div>
  <app-end-game *ngIf="isGameFinished" [name]="game.players[game.indexCurrentPlayer].name"
    [turns]="game.nbTurn" (replay)="onRetry()" (restart)="onRestart()"></app-end-game>
</div>