.container {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: x-large;
}

.container-upper {
    flex: 0.8;
    display: flex;
}

.container-board {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.row {
    width: 100%;
    height: calc(95% / 7);
    display: flex;
    justify-content: center;
}

.container-piece {
    height: 100%;
    width: calc(100% / 7);
    border-top: 5px solid black;
    border-left: 5px solid black;
    display: flex;
}

.bottom {
    border-bottom: 5px solid black;
}

.right {
    border-right: 5px solid black;
}

.piece {
    position: relative;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: black;
}

.piece::after {
    content: "";
    position: absolute;
    left: calc(50% - 10px);
    bottom: calc(50% - 10px);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: lightgrey;
}

.piece.ball::after {
    background-color: transparent;
}

.empty {
    width: 100%;
    height: 100%;
}

.container-side {
    flex: 0.1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-circle {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin: auto;
}

.container-lower {
    flex: 0.2;
    display: flex;
    justify-content: space-evenly;
}

.container-button {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    display: flex;
}

.click:hover {
    cursor: pointer;
    box-shadow: 1px 1px 15px gray;
}

.grey {
    background-color: grey;
}

.green {
    background-color: forestgreen;
}

.orange {
    background-color: orangered;
}

.white {
    background-color: white;
}