<div class="container">
    <div class="background">
        <div class="container-title">
            <div class="title">{{name}} has won in {{turns}} turns !</div>
        </div>
        <div class="container-button">
            <div class="replay" (click)="onReplay()">Replay now !</div>
            <div class="restart" (click)="onRestart()">Start a new game !</div>
        </div>
    </div>
</div>
