.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
}

.background {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background-color: antiquewhite;
    border: 10px solid grey;
    margin: auto;
    border-radius: 20px;
}

.container-title {
    display: flex;
    justify-content: center;
    flex: 0.4;
}

.title {
    margin: auto;
    font-weight: 600;
    font-size: xx-large;
}

.container-button {
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
}

.replay {
    margin: auto;
    background-color: orangered;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
}

.replay:hover {
    cursor: pointer;
    box-shadow: 1px 1px 15px gray;
}

.restart {
    margin: auto;
    background-color: forestgreen;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
}

.restart:hover {
    cursor: pointer;
    box-shadow: 1px 1px 15px gray;
}