<div class="container">
    <div class="container-title">
        <div class="title">Diaballik 4INFO</div>
    </div>
    <div class="container-players">
        <div class="container-player">
            <div class="container-input">
                <input type="text" class="input" [value]="n1" (blur)="n1 = $event.target.value.trim()" placeholder="Enter player's name">
            </div>
            <div class="container-checkbox">
                <input type="checkbox" [checked]="!c1" (input)="onCheck()">
                <div>Black</div>
            </div>
            <div class="container-checkbox">
                <input type="checkbox" [checked]="c1" (input)="onCheck()">
                <div>White</div>
            </div>
        </div>
        <div class="container-player">
            <div class="container-input">
                <input type="text" class="input" [value]="n2" (blur)="n2 = $event.target.value.trim()" placeholder="Enter player's name">
            </div>
            <div class="container-checkbox">
                    <input type="checkbox" [checked]="c1" (input)="onCheck()">
                    <div>Black</div>
                </div>
                <div class="container-checkbox">
                    <input type="checkbox" [checked]="!c1" (input)="onCheck()">
                    <div>White</div>
                </div>
            <div class="container-levels">
                <div class="container-level">
                    <div class="container-level-title">are you Human ?</div>
                    <input type="radio" name="level" value="0" (input)="onRadio($event.target.value)">
                </div>
                <div class="container-level">
                    <div class="container-level-title">AI Level</div>
                    <div class="container-level-checkboxes">
                        <input type="radio" name="level" value="1" (input)="onRadio($event.target.value)">
                        <div>1</div>
                        <input type="radio" name="level" value="2" (input)="onRadio($event.target.value)">
                        <div>2</div>
                        <input type="radio" name="level" value="3" (input)="onRadio($event.target.value)">
                        <div>3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-button">
        <div class="button" (click)="onNewGame()">Play</div>
    </div>
</div>