.container {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
    font-size: large;
}

.container-title {
    display: flex;
    justify-content: center;
    flex: 0.3;
}

.title {
    margin: auto;
    font-weight: 600;
    font-size: xx-large;
}

.container-players {
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.container-player {
    width: 25%;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 10px darkorange solid;
    padding: 5px;
}

.container-input {
    display: flex;
    justify-content: center;
}

.input {
    background-color: transparent;
    border: none;
    font-size: large;
}

.container-checkbox {
    display: flex;
    justify-content: center;
}

.container-levels {
    display: flex;
    justify-content: space-evenly;
}

.container-level {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: orangered;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
}

.container-level-title {
    padding: 0px 0px 10px 0px;
}

.container-level-checkboxes {
    display: flex;
    justify-content: space-evenly;
}

.container-button {
    display: flex;
    justify-content: center;
    flex: 0.2;
}

.button {
    margin: auto;
    background-color: red;
    border-radius: 10px;
    padding: 15px 50px 15px 50px;
    font-size: xx-large;
}

.button:hover {
    cursor: pointer;
    background-color: forestgreen;
    box-shadow: 1px 1px 15px gray;
}